<!DOCTYPE html>
<html>
  <head>
    <title> Wasteless </title>
  </head>

  <body>
    <div class="form-popup" id="rating_form">
        <div class="container">
            <form class="form-container">
            <h3>Send an Email to the Florida Government</h3>
            <p id='popup-margins'>It's time to help inform your government about the wasteful practices in your area. Your county in Florida may need better systems in place to increase recycling and decrease landfill waste per person.</p>

            <select id="popup-margins">
                <option value="County">County</option>
                <option value="County">Alachua County</option>
                <option value="County">Baker County</option>
                <option value="County">Bay County</option>
                <option value="County">Bradford County</option>
                <option value="County">Brevard County</option>
                <option value="County">Broward County</option>
                <option value="County">Calhoun County</option>
                <option value="County">Charlotte County</option>
                <option value="County">Citrus County</option>
                <option value="County">Clay County</option>
                <option value="County">Collier County</option>
                <option value="County">Columbia County</option>
                <option value="County">DeSoto County</option>
                <option value="County">Dixie County</option>
                <option value="County">Duval County</option>
                <option value="County">Escambia County</option>
                <option value="County">Flagler County</option>
                <option value="County">Franklin County</option>
                <option value="County">Gadsden County</option>
                <option value="County">Gilchrist County</option>
                <option value="County">Glades County</option>
                <option value="County">Gulf County</option>
                <option value="County">Hamilton County</option>
                <option value="County">Hardee County</option>
                <option value="County">Hendry County</option>
                <option value="County">Hernando County</option>
                <option value="County">Highlands County</option>
                <option value="County">Hillsborough County</option>
                <option value="County">Holmes County</option>
                <option value="County">Indian River County</option>
                <option value="County">Jackson County</option>
                <option value="County">Jefferson County</option>
                <option value="County">Lafayette County</option>
                <option value="County">Lake County</option>
                <option value="County">Lee County</option>
                <option value="County">Leon County</option>
                <option value="County">Levy County</option>
                <option value="County">Liberty County</option>
                <option value="County">Madison County</option>
                <option value="County">Manatee County</option>
                <option value="County">Marion County</option>
                <option value="County">Martin County</option>
                <option value="County">Miami-Dade County</option>
                <option value="County">Monroe County</option>
                <option value="County">Nassau County</option>
                <option value="County">Okaloosa County</option>
                <option value="County">Okeechobee County</option>
                <option value="County">Orange County</option>
                <option value="County">Osceola County</option>
                <option value="County">Palm Beach County</option>
                <option value="County">Pasco County</option>
                <option value="County">Pinellas County</option>
                <option value="County">Polk County</option>
                <option value="County">Putnam County</option>
                <option value="County">Santa Rosa County</option>
                <option value="County">Sarasota County</option>
                <option value="County">Seminole County</option>
                <option value="County">St. Johns County</option>
                <option value="County">St. Lucie County</option>
                <option value="County">Sumter County</option>
                <option value="County">Suwannee County</option>
                <option value="County">Taylor County</option>
                <option value="County">Union County</option>
                <option value="County">Volusia County</option>
                <option value="County">Wakulla County</option>
                <option value="County">Walton County</option>
                <option value="County">Washington County</option>

            </select>

            <label for="email"><b>Email:</b></label>
            <input type="text" placeholder="Enter your Email" name="email" required>
            <br>
            <button id="popup-margins" type="submit" class="btn" onclick="window.location.reload()">Submit</button>
            <button id="popup-margins" type="submit" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </div>

    <div id='page-wrap' onclick="closeForm()">

    <div id='map'></div>
    <div id='map-overlay' class='map-overlay'></div>
    <%= javascript_tag "waste_data = #{@waste.to_json.html_safe};" %>

    <script>
    // Set bounds to State of Florida
    //31.040179, -87.767975 Northwest
    //24.318651, -79.061155 Southeast
    /*var bounds = [
        [-87.767975, 31.040179], // Northwest coordinates
        [-79.061155, 24.318651]  // Southeast coordinates
    ];*/
    mapboxgl.accessToken =  'pk.eyJ1IjoibHVrZXJwZmVpZmZlciIsImEiOiJjam14aTZzbnExN3JkM2tuMTR3cGJybnE1In0.uYrpAhiX9b6uSo5i4nMTLg';
    var sorted_data = []
    for (var key in waste_data) {
      sorted_data.push(waste_data[key]);
    }
    sorted_data.sort();

    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
        center: [-81.5667, 28.2420], // starting position [lng, lat]
        zoom: 6.1, // starting zoom
        interactive: false
        //maxBounds: bounds // Sets bounds as max
    });

    var overlay = document.getElementById('map-overlay');


    var popup = new mapboxgl.Popup({
        closeButton: false
    });

    map.on('load', function() {

        var overlay = document.getElementById('map-overlay');


        var popup = new mapboxgl.Popup({
            closeButton: false
        });
        map.addSource('counties', {
            "type": "vector",
            "url": "mapbox://mapbox.82pkq93d"
        });
        map.addLayer({
            "id": "counties",
            "type": "fill",
            "source": "counties",
            "source-layer": "original",
            "paint": {
                "fill-outline-color": "rgba(0,0,0,0.1)",
                "fill-color": "rgba(0,0,0,0.1)"
            }
        }, 'place-city-sm');

        map.addLayer({
            "id": "counties-highlighted",
            "type": "fill",
            "source": "counties",
            "source-layer": "original",
            "paint": {
                "fill-outline-color": "#484896",
                "fill-color": "#fff",
                "fill-opacity": 0.75
            },
            "filter": ["in", "COUNTY", ""]
        }, 'place-city-sm');

        map.on('mousemove', 'counties', function(e) {
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = 'pointer';

            // Single out the first found feature.
            var feature = e.features[0];

            // Query the counties layer visible in the map. Use the filter
            // param to only collect results that share the same county name.
            var relatedFeatures = map.querySourceFeatures('counties', {
                sourceLayer: 'original',
                filter: ['in', 'COUNTY', feature.properties.COUNTY]
            });

            // Render found features in an overlay.
            overlay.innerHTML = '';

            // Total the population of all features
            var populationSum = relatedFeatures.reduce(function(memo, feature) {
                return memo + feature.properties.population;
            }, 0);

            var title = document.createElement('strong');
            title.textContent = feature.properties.COUNTY + ' (' + relatedFeatures.length + ' found)';

            var population = document.createElement('div');
            population.textContent = 'Total population: ' + populationSum.toLocaleString();
            var waste = document.createElement('div');
            county = feature.properties.COUNTY;
            if (county.includes("County")) {
              county = county.replace(" County", "");
            }
            waste_per_capita = waste_data[county]
            waste.textContent = "\nFood Waste: " + waste_per_capita.toFixed(2) + " tons per capita";

            overlay.appendChild(title);
            overlay.appendChild(population);
            overlay.appendChild(waste);
            overlay.style.display = 'block';

            // Add features that share the same county name to the highlighted layer.
            map.setFilter('counties-highlighted', ['in', 'COUNTY', feature.properties.COUNTY]);

            // Display a popup with the name of the county
            popup.setLngLat(e.lngLat)
                .setText(feature.properties.COUNTY)
                .addTo(map);
        });

        map.on('mouseleave', 'counties', function() {
            map.getCanvas().style.cursor = '';
            popup.remove();
            map.setFilter('counties-highlighted', ['in', 'COUNTY', '']);
            overlay.style.display = 'none';
        });
    });

    </script>
    </div>
    <button class="open-button" onclick="openForm()">Send an Email</button>

    <script>
    var slider = document.getElementById("rating");
    var output = document.getElementById("capacity");
    output.innerHTML = slider.value;

    slider.oninput = function() {
      output.innerHTML = this.value;
    }

    function openForm() {
      document.getElementById("rating_form").style.display = "block";
      document.getElementById('page-wrap').className='blur';
    }

    function closeForm() {
      document.getElementById("rating_form").style.display = "none";
      document.getElementById('page-wrap').className='page-wrap';
    }

    </script>



    </body>
</html>
